.button {
  background-color: var(--color-primary);
  color: white;
  border: 0;
  border-radius: 4px;
  height: 38px;
  padding: 0 16px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-primary-dark);
}

.outline {
  background-color: transparent;
  color: var(--color-primary-light);
  border: 2px solid var(--color-primary);
}

.outline:hover {
  background-color: var(--color-primary-translucent);
}
