header {
  font-size: 50px;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  background-color: var(--color-header-bg);
  padding: 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 16px 17px -4px rgb(13, 17, 23);
}

header h1 {
  font-size: 50px;
  margin: 1rem 0;
}

header p {
  font-size: 17px;
  margin: 0;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 2rem;
    margin: 1rem 0;
  }

  header p {
    font-size: 0.8rem;
  }
}
