.input {
  border: 1px solid var(--color-gray);
  border-radius: 4px;
  height: 38px;
  background-color: var(--color-input-bg);
  color: var(--color-text);
  width: 40vw;
  padding: 0 1rem;
  outline: none;
}

input::placeholder {
  color: var(--color-gray);
  opacity: 1;
}

input:focus {
  border: 1px solid var(--color-primary);
  box-shadow: 0 0 0 2px #8a8a8a3a;
}
