.card {
  color: white;
  box-shadow: rgba(37, 37, 37, 0.35) 0px 5px 15px;
  background-color: #262c36;
  width: 100%;
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  margin: 0;
  cursor: pointer;
  padding: 0.5rem;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: #1b465775 0px 5px 15px;
}

@media (max-width: 768px) {
  .card {
    padding: 1rem;
  }
}
