.searchContainter {
  display: flex;
  gap: 1rem;
}

@media (max-width: 768px) {
  .searchContainter {
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 2rem;
  }

  input {
    min-width: 100%;
  }
}
